odoo-addon-rma-repair @ git+https://github.com/OCA/rma.git@refs/pull/467/head#subdirectory=setup/rma_repair
odoo-addon-repair-follow-lot-location @ git+https://github.com/OCA/repair.git@refs/pull/120/head#subdirectory=setup/repair_follow_lot_location
